# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/

# env/package
.venv/

# log files
*.log

# project specific
_uses/
_outputs/
*.blink.src
*.blink.desc
*.afphoto~lock~
*.nknc~
*.nknc.autosave
*.nk.autosave

# tweaking
.DS_Store
.claude